body {
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/phoneBG1.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1; /* Places the pseudo-element behind other content */
}

@media (min-width: 1024px) { 
  body::before {
    background-image: url('../public/big_screen_bg.jpg');
  }
}
